@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
background-color: rgb(192, 190, 181);
font-family: "lato";
font-weight: 300;
font-size: 20px;
color: rgb(252, 218, 175);



margin-top: 0px;
}

h1,h2,h3,h4,h5,h6{
    font-family: "raleway";
    font-weight: bold;
    color: rgb(233, 233, 233); 
    -webkit-text-fill-color: rgb(221, 221, 221); 
    -webkit-text-stroke: 0.5px rgb(43, 43, 43);
}

p{
    line-height: 30px;
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

a{
    color: rgb(228, 228, 228);
}

a:hover, a:focus {
    color: rgb(20, 39, 73);
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border:0;
    border-top: 1px solid rgb(168, 161, 151);
    margin: 1em 0;
    padding: 0;
}

.navbar{
    font-weight: 800;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px; 
    background: rgb(172, 169, 157); 
    
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    background: rgb(124, 124, 111);
    border-color: rgb(48, 48, 38);
}

.navbar-brand{
    font-size: 30px;
}

.navbar-toggler{
    background: rgb(167, 166, 124);
    opacity: .3;
}

.navbar-toggler:focus{
    outline-color: rgb(20, 39, 73);
}

#headerwrap{
    background: url(./images/back.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    background-size:100%;
    -webkit-background-size: cover;

}
#headerwrap h1 {
    margin-top: 100px;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;

}